body {
  display: flex;
  justify-content: center;
}

.gameWindow {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 25px;
  gap: 20px;
  justify-content: center;
}

.btn-pic {
  background-color: "green";
  width: 200px;
  height: 320px;
  justify-content: space-between;
}
.gameButtons {
  display: flex;
  gap: 20px;
}
img {
  height: 250px;
  width: 180px;
  margin: 20px;
}

.hide {
  visibility: hidden;
}
.scoreBar {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  align-self: stretch;
}
.humanScore,
.botScore {
  display: flex;
  font-size: 22px;
  font-weight: bold;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.hScore,
.bScore {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.scoreText {
  margin: 0;
}
.reset{
    padding:12px;
  font-size: 22px;
  font-weight: bold;
    margin: 0;

}
